<ion-header>
  <ion-toolbar>
  <h6>
  <ion-button routerLink="/about"><ion-icon name="return-up-back-outline"></ion-icon></ion-button>
    <ion-title>App_details</ion-title>
	</h6>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Ionic calculator app</h1>
<h4>This is a basic and simple ionic calculator for begineers.</h4>
<ul>
<li>Front end technologies used:html,js,ts,css.</li>
<li>Back end technologies used:java.</li>
<li>Frameworks used:Ionic,Angular.</li>
<li>Platforms used:Node.js</li>
</ul>
</ion-content>
